Repository keik-org/sandbox-codeowners, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keik, @keik-sandbox, @keik-sandbox2, @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Update README.md
  README.md
Owners: none

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Create d.js
  d.js
Owners: @keik-org/keiks

Update a.js
  a.js
Owners: @keik

Update b.js
  b.js
Owners: @keik-sandbox

Update c.js
  c.js
Owners: @keik-sandbox2

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

a.js @keik
b.js @keik-sandbox
c.js @keik-sandbox2
d.js @keik-org/keiks
